.container {
  background: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  color: aquamarine;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100px;
}
