.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.register-form {
  width: 300px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.input-field {
  margin-bottom: 20px;
  position: relative;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.show-password-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #0a0a0a;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50);
}

.signin-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #d0d0d0;
  color: #000000;
  cursor: pointer;
}
